* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    }
    body{
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
   }
   h1,h2,h3{
    text-transform: uppercase;
   }
   li{
    list-style-type: none;
   }
  .container {
    width: 1301px;
    margin: 0 auto;
  }

  /*начало*/
 
.firstul{
    position: absolute;
    width: 100%;
    text-align: center;
}
.firstli{
    display: inline-table;
    text-align: left;
    margin: 20px 40px;
}  
.firstli a{
    color: white;
    text-decoration: none;
}
.secondul a,.thirdul a{
    text-decoration: underline;
    color: white;
}
.firstli:hover > a{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: white;
    text-decoration: dotted;
    text-transform: uppercase;
    font-weight: bold;
}

.secondul{
    display: none;
}
.firstli .thirdul{
    display: none;
}
.firstli:hover > .secondul{
    display: block;
    font-size: small;
    padding-top: 5px;
    cursor: pointer;
}
.firstli:hover > .thirdul{
    display: block;
    font-size: small;
    padding-top: 5px;
    cursor: pointer;
}

.orabote ul h3:first-child{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
.orabote ul li{
    list-style-type: upper-roman;
    list-style-position: inside;
    text-align: left;
    padding-left: 150px;
    width: 95%;
    font-size: small;
}
.orabote ul h3{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}