@media screen and (max-width: 1050px) {
    .myfoto img{
        margin-right: 300px;
        margin-top: 20px;
        height: 400px;
    }
}

@media screen and (max-width: 890px) {
    .start .firstli{
        margin: 20px 20px;
    }
    .myfoto img{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .start .firstli{
        margin: 20px 5px;
    }
}

@media screen and (max-width: 550px) {
    .text h3{
        padding-left: 10px;
    }
    hr{
        margin-left: 10px;
    }
}

@media screen and (max-width: 500px) {
    .start .firstli{
        margin: 20px 10px;
    }
    .start .firstul{
        width: 70%;
        margin-left: 60px;
    }
    .text h3{
        margin-top: 30px;
        font-size: 40px;
    }
    .text{
        padding-top: 10px;
    }
    hr{
        margin-top: 50px;
    }
    .info{
        margin-top: 10px;
    }
}
@media screen and (max-width: 480px) {
    .start .firstli{
        margin: 20px 7px;
    }
}
@media screen and (max-width: 400px) {
    .start .firstli{
        margin: 20px 5px;
    }
    .start .firstul{
        width: 100%;
        margin-left: 0px;
    }
}