@media screen and (max-width: 1050px) {
    .myfoto img{
        margin-right: 300px;
        margin-top: 20px;
        height: 400px;
    }
}

@media screen and (max-width: 890px) {
    .start .firstli{
        margin: 20px 20px;
    }
    .myfoto img{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .start .firstli{
        margin: 20px 5px;
    }
}

@media screen and (max-width: 550px) {
    .text h3{
        padding-left: 10px;
    }
    hr{
        margin-left: 10px;
    }
}

@media screen and (max-width: 550px) {
    .start .firstli{
        margin: 20px 0px;
    }
}