@media screen and (max-width: 1050px) {
    .text li{
        padding-right: 400px;
    }
}
@media screen and (max-width: 950px) {
    .text li{
        padding-right: 300px;
    }
    .text h3{
        font-size: 17px;
    }
    .imgodin img{
        margin-right: 780px;
    }
}
@media screen and (max-width: 850px) {
    .text li{
        padding-right: 0px;
        padding-top: 50px;
    }
    .imgodin img{
        margin-top: 50px;
        margin-right: 0px;
        width: 80px;
        height: auto;
    }
    .text h3{
        margin-top: 5px;
        font-size: 15px;
    }
    .start .firstli{
        margin: 20px 15px;
    }
}
@media screen and (max-width: 790px) {
    .text li{
        font-size: 11px;
    }
}
@media screen and (max-width: 580px) {
    .start .firstli{
        margin: 20px 10px;
    }
    .start .firstul{
        width: 70%;
        margin-left: 60px;
    }
    .imgodin{
        display: none;
    }
    .text {
        padding-top: 100px;
    }
    .text h3{
        padding-top: 30px;
    }
}
@media screen and (max-width: 480px) {
    .start .firstli{
        margin: 20px 7px;
    }
    .imgodin{
        display: none;
    }
    .text {
        padding-top: 150px;
    }
}
@media screen and (max-width: 400px) {
    .start .firstli{
        margin: 20px 10px;
    }
    .start .firstul{
        width: 100%;
        margin-left: 0px;
    }
}
@media screen and (max-width: 330px) {
    .start .firstli{
        margin: 20px 2px;
    }
    .start .firstul{
        width: 100%;
        margin-left: 0px;
    }
}