@media screen and (max-width: 1350px) {
    .perviy a img{
        width: 85%;
        height: auto;
    }
}
@media screen and (max-width: 1050px) {
    .text li{
        padding-right: 400px;
    }
}
@media screen and (max-width: 950px) {
    .text li{
        padding-right: 300px;
    }
    .text h3{
        font-size: 17px;
    }
    .imgodin img{
        margin-right: 780px;
    }
}
@media screen and (max-width: 850px) {
    .start .firstli{
        margin: 20px 15px;
    }
}
@media screen and (max-width: 580px) {
    .start .firstli{
        margin: 20px 5px;
    }
}
@media screen and (max-width: 500px) {
    .start .firstli{
        margin: 20px 20px;
    }
    .textorabote h2{
        font-size: 15px;
    }
    .textorabote p{
        font-size: 11px;
    }
    .textorabote{
        padding-top: 20px;
    }
}
@media screen and (max-width: 400px) {
    .start .firstli{
        margin: 20px 10px;
    }
    .start .firstul{
        width: 100%;
        margin-left: 0px;
    }
}
@media screen and (max-width: 330px) {
    .start .firstli{
        margin: 20px 2px;
    }
    .start .firstul{
        width: 100%;
        margin-left: 0px;
    }
}