@media screen and (max-width: 2660px) {
    .text li{
        text-align: center;
    }
}

@media screen and (max-width: 960px) {
    .text li{
        text-align: center;
        font-size: 13px;
    }
    .text h3{
        font-size: 17px;
    }
    .imgodin img, .imgdva img{
        margin-right: 780px;
    }
}
@media screen and (max-width: 850px) {
    .text li{
        padding-right: 0px;
        padding-top: 50px;
    }
    .imgodin img, .imgdva img{
        margin-top: 50px;
        margin-right: 0px;
        width: 65px;
        height: auto;
    }
    .text h3{
        margin-top: 5px;
        font-size: 15px;
    }
    .start .firstli{
        margin: 20px 15px;
    }
}
@media screen and (max-width: 790px) {
    .text li{
        font-size: 11px;
    }
}
@media screen and (max-width: 580px) {
    .start .firstli{
        margin: 20px 5px;
    }
    .imgodin, .imgdva{
        display: none;
    }
    .text {
        padding-top: 100px;
    }
}
@media screen and (max-width: 480px) {
    .start .firstli{
        margin: 20px 2px;
    }
    .imgodin, .imgdva{
        display: none;
    }
    .text {
        padding-top: 150px;
    }
}